<a href="https://colab.research.google.com/github/MEGHANA192/PYTHON_NEW/blob/MODULE_3/module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##TO THE READ THE ENTIRE TEXT FILE
meghana=open(r"E:\meghana1487.txt")
print(meghana.read())

hi this is meghana
reg no: vu21csen0101487
AGE :18
SUBJECT:CSEN(PROGRAMMING WITH PYTHON)

In [ ]:


##TO READ THE TEXT LINE BY LINE
meghana=open(r"E:\meghana1487.txt")
#1line
print(meghana.readline())
#2line
print(meghana.readline())
#line 3
print(meghana.readline())

hi this is meghana

reg no: vu21csen0101487

AGE :18

In [ ]:
##even odd
meghana=open(r"E:\allnumbers.txt")
even=open('E:\evennum.txt','w')
odd=open('E:\oddnum.txt','w')
even.write('Even numbers:\n')
odd.write('Odd numbers:\n')
for i in meghana:
  if int(i)%2==0:
    even=open('E:\evennum.txt','a')
    even.write(i)
  else:
    odd=open('E:\oddnum.txt','a')
    odd.write(i)
even.close()
odd.close()
even=open('E:\evennum.txt','r')
print(even.read())
even.close()
odd=open('E:\oddnum.txt','r')
print(odd.read())
odd.close()

Even numbers:
34
42
58
68
72
26
158
348
546454
1422
036

Odd numbers:
91
17
13
81
945
641
347
259
25
37
05
19
115
047
0485
33
35
47
49
89

In [ ]:
##length of each line
meghana = open(r"E:\meghana1487.txt")
l=0
w=0
c=0
for i in meghana:
    l=l+1
    W=i.split()
    w=w+len(W)
    c=c+len(i)
print(l,w,c)

4 12 88

In [ ]:
# append text to a file and display the text #

meghana = open(r"E:\meghana1487.txt","a")
meghana.write("\ninstitute:gitam")
meghana.close()

# Now read the file #
meghana = open(r"E:\meghana1487.txt")
print(meghana.read())

hi this is meghana
reg no: vu21csen0101487
AGE :18
SUBJECT:CSEN(PROGRAMMING WITH PYTHON)
come on come on kalavathi
institute:gitam

In [ ]:
##to write a list
meghana = ["period:2021-2025"]
for i in meghana:
    a=open(r"E:\meghana1487.txt","a")
    print(a.write(i))
    a.close()

16

In [ ]:
##password details
import pandas as pd
a= pd.read_csv("E:/passportdetails.csv")
print(a)

    s no    name  age  phone no gender      adress         email  \
0      1   maggi   10       123      f  hululu clg  hi@gmail.com
1      2  yeppie    9      1234      f  hululu clg  hi@gmail.com
2      3   puppy    8       234      f  hululu clg  hi@gmail.com
3      4   abhhi    7       345      m  hululu clg  hi@gmail.com
4      5  vedesh    6       567      m  hululu clg  hi@gmail.com
5      6    hith    5       678      m  hululu clg  hi@gmail.com
6      7   rahul    4      7789      m  hululu clg  hi@gmail.com
7      8  vaishu    3       890      f   huluu clg  hi@gmail.com
8      9  chinni    2        12      m   huluu clg  hi@gmail.com
9     10  nithin    1       237      m   huluu clg  hi@gmail.com
10    11   maggi    2       234      f  hululu clg  hi@gmail.com

   having passprt license
0             yes     yes
1              no      no
2             yes     yes
3              no     yes
4             yes      no
5             yes     yes
6              no      no
7              no     yes
8             yes     yes
9              no      no
10            yes     yes

In [ ]:
##password details
import pandas as pd
a= pd.read_csv("E:/passportdetails.csv")
print(a.to_string())

    s no    name  age  phone no gender      adress         email having passprt license
0      1   maggi   10       123      f  hululu clg  hi@gmail.com            yes     yes
1      2  yeppie    9      1234      f  hululu clg  hi@gmail.com             no      no
2      3   puppy    8       234      f  hululu clg  hi@gmail.com            yes     yes
3      4   abhhi    7       345      m  hululu clg  hi@gmail.com             no     yes
4      5  vedesh    6       567      m  hululu clg  hi@gmail.com            yes      no
5      6    hith    5       678      m  hululu clg  hi@gmail.com            yes     yes
6      7   rahul    4      7789      m  hululu clg  hi@gmail.com             no      no
7      8  vaishu    3       890      f   huluu clg  hi@gmail.com             no     yes
8      9  chinni    2        12      m   huluu clg  hi@gmail.com            yes     yes
9     10  nithin    1       237      m   huluu clg  hi@gmail.com             no      no
10    11   maggi    2       234      f  hululu clg  hi@gmail.com            yes     yes

In [ ]:
##to delete duplicates
import pandas as pd
a=pd.read_csv("E:/passportdetails.csv")
b=a.drop_duplicates(subset="name",keep="last")
print(b.to_string())

    s no    name  age  phone no gender      adress         email having passprt license
1      2  yeppie    9      1234      f  hululu clg  hi@gmail.com             no      no
2      3   puppy    8       234      f  hululu clg  hi@gmail.com            yes     yes
3      4   abhhi    7       345      m  hululu clg  hi@gmail.com             no     yes
4      5  vedesh    6       567      m  hululu clg  hi@gmail.com            yes      no
5      6    hith    5       678      m  hululu clg  hi@gmail.com            yes     yes
6      7   rahul    4      7789      m  hululu clg  hi@gmail.com             no      no
7      8  vaishu    3       890      f   huluu clg  hi@gmail.com             no     yes
8      9  chinni    2        12      m   huluu clg  hi@gmail.com            yes     yes
9     10  nithin    1       237      m   huluu clg  hi@gmail.com             no      no
10    11   maggi    2       234      f  hululu clg  hi@gmail.com            yes     yes

In [ ]:
##to print the minimum and maximum age
import pandas as pd
a= pd.read_csv("E:/passportdetails.csv")
a.aggregate({"age":["min","max"]})

     age
min    1
max   10

In [ ]:
##to print the sum of all ages
import pandas as pd
a= pd.read_csv("E:/passportdetails.csv")
a.aggregate({"age":["sum"]})

     age
sum   57

In [ ]:
import pandas as pd
a= pd.read_csv("E:/passportdetails.csv")
a.aggregate({"age":["min","max","sum","average"],"phone no":["min","max","sum","average"],"s no":["min","max","sum","average"]})

               age      phone no  s no
min       1.000000     12.000000   1.0
max      10.000000   7789.000000  11.0
sum      57.000000  12343.000000  66.0
average   5.181818   1122.090909   6.0

In [ ]:
##group by
import pandas as pd
a=pd.read_csv("E:/passportdetails.csv")
b=a.groupby(["adress"])
b.first()

,s no,name,age,phone no,gender,email,having passprt,license
adress,,,,,,,,
hululu clg,1,maggi,10,123,f,hi@gmail.com,yes,yes
huluu clg,8,vaishu,3,890,f,hi@gmail.com,no,yes